/*

BACKGROUND IMAGES

*/

.galaxy {
	background-image: url('../img/galaxy.jpg');
	@include bg-img(center, no-repeat, cover);
}

.target {
	background-image: url('../img/target.png');
	@include bg-img(center, no-repeat, cover);
}

.grid {
	background-image: url('../img/grid.png');
	@include bg-img(center, no-repeat, 105% 105%);
}

.inner-arrow-top-left {
	background-image: url('../img/inner-arrow/top-left.png');
	@include arrows;
	@include arrow-position($left: $inner-arrow-position, $top: $inner-arrow-position);
	@include arrow-width-height($inner-arrow-wh);
}

.inner-arrow-top-right {
	background-image: url('../img/inner-arrow/top-right.png');
	@include arrows;
	@include arrow-position($right: $inner-arrow-position, $top: $inner-arrow-position);
	@include arrow-width-height($inner-arrow-wh);
}

.inner-arrow-bottom-left{
	background-image: url('../img/inner-arrow/bottom-left.png');
	@include arrows;
	@include arrow-position($bottom: $inner-arrow-position, $left: $inner-arrow-position);
	@include arrow-width-height($inner-arrow-wh);
}

.inner-arrow-bottom-right {
	background-image: url('../img/inner-arrow/bottom-right.png');
	@include arrows;
	@include arrow-position($bottom: $inner-arrow-position, $right: $inner-arrow-position);
	@include arrow-width-height($inner-arrow-wh);

}

.outer-arrow-top-left {
	background-image: url('../img/outer-arrow/top-left.png');
	@include arrows;
	@include arrow-position($left: $outer-arrow-position, $top: $outer-arrow-position);
	@include arrow-width-height($outer-arrow-wh);
	@include no-mobile;
}

.outer-arrow-top-right {
	background-image: url('../img/outer-arrow/top-right.png');
	@include arrows;
	@include arrow-position($right: $outer-arrow-position, $top: $outer-arrow-position);
	@include arrow-width-height($outer-arrow-wh);
	@include no-mobile;
}

.outer-arrow-bottom-left{
	background-image: url('../img/outer-arrow/bottom-left.png');
	@include arrows;
	@include arrow-position($bottom: $outer-arrow-position, $left: $outer-arrow-position);
	@include arrow-width-height($outer-arrow-wh);
	@include no-mobile;
}

.outer-arrow-bottom-right {
	background-image: url('../img/outer-arrow/bottom-right.png');
	@include arrows;
	@include arrow-position($bottom: $outer-arrow-position, $right: $outer-arrow-position);
	@include arrow-width-height($outer-arrow-wh);
	@include no-mobile;
}