/*

BACKGROUND

*/

.galaxy {
	background-image: url('../img/galaxy.jpg');
	background-repeat: no-repeat;
    background-size: cover;
}
.target {
	background-image: url('../img/target.png');
	background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.grid {
	background-image: url('../img/grid.png');
	background-repeat: no-repeat;
 	background-position: center;
    background-size: 105% 105%;
}

.scrambler-arrow-top-left {
	background-image: url('../img/scrambler-arrow/top-left.png');
	background-repeat: no-repeat;
	height: em(91);
	left: 0;
	position: absolute;
	top: 0;
	width: em(91);

}

.scrambler-arrow-top-right {
	background-image: url('../img/scrambler-arrow/top-right.png');
	background-repeat: no-repeat;
	height: em(91);
	right: 0;
	position: absolute;
	top: 0;
	width: em(91);

}

.scrambler-arrow-bottom-left{
	background-image: url('../img/scrambler-arrow/bottom-left.png');
	background-repeat: no-repeat;
	bottom: 0;
	height: em(91);
	left: 0;
	position: absolute;
	width: em(91);
}

.scrambler-arrow-bottom-right {
	background-image: url('../img/scrambler-arrow/bottom-right.png');
	background-repeat: no-repeat;
	bottom: 0;
	height: em(91);
	position: absolute;
	right: 0;
	width: em(91);

}

.window-arrows {
	position: relative;
}
.window-arrow-top-left {
	background-image: url('../img/window-arrow/top-left.png');
	background-repeat: no-repeat;
	height: em(41);
	left: em(10);
	position: absolute;
	top: em(10);
	width: em(41);
	@include media($mobile) {
		display: none;
	}
}

.window-arrow-top-right {
	background-image: url('../img/window-arrow/top-right.png');
	background-repeat: no-repeat;
	height: em(41);
	right: em(10);
	position: absolute;
	top: em(10);
	width: em(41);
	@include media($mobile) {
		display: none;
	}
}

.window-arrow-bottom-left{
	background-image: url('../img/window-arrow/bottom-left.png');
	background-repeat: no-repeat;
	bottom: em(10);
	height: em(41);
	left: em(10);
	position: absolute;
	width: em(41);
	@include media($mobile) {
		display: none;
	}
}

.window-arrow-bottom-right {
	background-image: url('../img/window-arrow/bottom-right.png');
	background-repeat: no-repeat;
	bottom: em(10);
	height: em(41);
	position: absolute;
	right: em(10);
	width: em(41);
	@include media($mobile) {
		display: none;
	}
}