/*

BUTTONS

*/


.button-container {
	@include outer-container();
	@include shift(0.75 of 12);
	@include media($mobile) {
		@include shift(0);
	}
	a {
		@include span-columns(3.75);
		background-color: #f8e813;
		border: none;
		color: #000;
		cursor: pointer;
		display: inline-block;
		font-family: 'Oswald', sans-serif;
		font-size: em(16);
		letter-spacing: em(7);
		padding: em(18) 0;
		text-align: center;
		text-transform: uppercase;
		@include media($mobile) {
			@include span-columns(4);
			font-size: em(12);
			letter-spacing: em(5);
		}
	}
}