/*

FONTS

*/

@font-face {
    font-family: 'dincondensedcregular';
    src: url('../fonts/din.eot');
    src: url('../fonts/din.eot?#iefix') format('embedded-opentype'),
         url('../fonts/din.woff2') format('woff2'),
         url('../fonts/din.woff') format('woff'),
         url('../fonts/din.ttf') format('truetype'),
         url('../fonts/din.svg#dincondensedcregular') format('svg');
    font-weight: normal;
    font-style: normal;

}