/*

LAYOUT

*/

.site-wrapper {
	display: table;
	width: 100%;
	height: 100%; /* For at least Firefox */
	min-height: 100%;
}

.site-wrapper-inner {
	display: table-cell;
	vertical-align: middle;
}
.scrambler-container {
	margin-right: auto;
	margin-left: auto;
}

.inner {

}

.cover {

}

@media (min-width: 768px) {

	.site-wrapper-inner {
		vertical-align: middle;
	}

	.scrambler-container {
		width: 100%;
	}
}

@media (min-width: 992px) {

	.scrambler-container {
		width: 700px;
	}
}