/*

LAYOUT

*/

.site-wrapper {
	display: table;
	width: 100%;
	height: 100%; /* For at least Firefox */
	min-height: 100%;
}

.site-wrapper-inner {
	display: table-cell;
	vertical-align: middle;
}
.scrambler-container {
	margin-right: auto;
	margin-left: auto;
}

.inner {
	@include span-columns(10);
	@include shift(1);
	@include media($mobile) {
		@include span-columns(12);
		@include shift(0);
	}
}