/*

SCRAMBLER CONTAINER

*/

.scrambler-container {
	@include outer-container();
}

.text-fields {
	@include outer-container();
	display: block;
	padding: em(15);
	position: relative;
	margin-bottom: em(20);
}

#textInput,
#textDisplay {
	background-color: rgba(0, 0, 0, .5);
	border: none;
	border-bottom: em(30) solid transparent;
	border-top: em(30) solid transparent;
	color: #fff;
	font-family: 'Roboto Condensed',;
	height: em(250);
	padding: 0 em(30) 0;
	resize:none;
	width: 100%;
	word-wrap: break-word;
}

#textInput {
	margin-bottom: em(15);
 	white-space: normal;
}

#textDisplay {
	overflow-x: scroll;
	span {
		float: left;
	}
	br {
		display:none
	}
}