<div class="site-wrapper galaxy">

	<div class="site-wrapper-inner">

		<div class="scrambler-container">

			<div class="inner cover">
				<div class="text-fields">
					 <textarea id="textInput">
						{{>initial-scramble}}
					</textarea>
					<div id="textDisplay">
						{{>initial-scramble}}
					</div>
				</div>
				<div class="button-container">
					<a id="scramble">scramble</a>
					<a id="unscramble">Unscramble</a>
				</div>

			</div>

		</div>

	</div>

</div>