<div class="site-wrapper target">

	<div class="site-wrapper-inner grid">

		<div class="scrambler-container">

			<div class="inner">
				<div class="text-fields">
					{{>inner-arrows}}
					 <textarea id="textInput" placeholder="sofiya">
						{{>initial-scramble}}
					</textarea>
					<div id="textDisplay">
						{{>initial-scramble}}
					</div>
				</div>
				<div class="button-container">
					<a id="scramble">scramble</a>
					<a id="unscramble">Unscramble</a>
					<a id="clearBtn">clear</a>
				</div>

			</div>

		</div>

	</div>

</div>