<button id="scramble">Scramble</button>
<button id="unscramble">Unscramble</button>
<hr>
<textarea id="textInput">
	{{>initial-scramble}}
</textarea>
<hr>
<div id="textDisplay">
	{{>initial-scramble}}
</div>